* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins';
    background-color: transparent;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .bg {
    background-color: #E5EADD;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3D9E69;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #35895B;
  }
  
  .landpage-container {
    background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(40%, rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(96, 128, 31, 0.9)), to(#60801f)), url("../../public/assets/images/Green-building.jpg");
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(96, 128, 31, 0.9) 80%, #60801f 100%), url("../../public/assets/images/Green-building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 9rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  
  .logo {
    padding-left: 8rem;
    height: 5rem;
  }
  
  .logo img {
    width: auto;
    height: 5rem;
  }
  
  .logo img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  .nav-link-container {
    min-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    color: #3D9E69;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8rem;
  }
  
  .home-content {
    font-size: 3rem;
  }
  
  @media only screen and (max-width: 900px) {
    .landpage-container {
      background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(40%, rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(96, 128, 31, 0.9)), to(#60801f)), url("../../public/assets/images/Green-building.jpg");
      background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(96, 128, 31, 0.9) 80%, #60801f 100%), url("../../public/assets/images/Green-building.jpg");
    }
    .navbar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .logo {
      padding-left: 0;
    }
    .logo img {
      height: 4rem;
    }
    .nav-link-container {
      font-size: 1.15rem;
      padding-right: 0;
    }
    .nav-link {
      margin-left: 15px;
      margin-right: 15px;
    }
    .home-content {
      font-size: 2.5rem;
    }
    .column {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
      padding-left: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      margin: 0 3rem;
    }
    .column:last-child {
      display: none;
    }
  }
  
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    color: #707070;
    padding: 2rem 0;
    text-decoration: underline;
    -webkit-text-decoration-color: #3D9E69;
            text-decoration-color: #3D9E69;
    text-underline-offset: 10px;
    text-align: center;
  }
  
  .content {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem 5.5rem 2rem 5.5rem;
    line-height: 3rem;
  }
  
  @media only screen and (max-width: 900px) {
    .heading {
      font-size: 1.75rem;
      padding: 1rem 0;
    }
    .content {
      font-size: 1.2rem;
      padding: 1.5rem 2.25rem 3rem 2.25rem;
      line-height: 2.5rem;
    }
  }
  
  .contact-container {
    background-color: #C4C4C4;
  }
  
  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 1.5rem 3.5rem 1.5rem;
    max-width: 70%;
    margin: auto;
    font-size: 2rem;
  }
  
  .form-container input[type=text],
  .form-container textarea {
    padding: 1.25rem;
    background-color: #F4FBF3;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    color: black;
  }
  
  .form-container input[type=text]:focus,
  .form-container textarea:focus {
    background-color: #F5F0EC;
  }
  
  .form-container input[type=text]:hover,
  .form-container textarea:hover {
    background-color: #e1f0df;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  
  .form-container input[type=text]:hover::-webkit-input-placeholder,
  .form-container textarea:hover::-webkit-input-placeholder {
    color: #2b2b2b;
  }
  
  .form-container input[type=text]:hover:-ms-input-placeholder,
  .form-container textarea:hover:-ms-input-placeholder {
    color: #2b2b2b;
  }
  
  .form-container input[type=text]:hover::-ms-input-placeholder,
  .form-container textarea:hover::-ms-input-placeholder {
    color: #2b2b2b;
  }
  
  .form-container input[type=text]:hover::placeholder,
  .form-container textarea:hover::placeholder {
    color: #2b2b2b;
  }
  
  .form-container input[type=text]:hover::-ms-input-placeholder,
  .form-container textarea:hover::-ms-input-placeholder {
    color: #2b2b2b;
  }
  
  .form-container .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .form-container .btn input[type=submit] {
    background-color: #336699;
    font-size: 1.5rem;
    border-radius: 10px;
    height: 3rem;
    min-width: 20%;
    color: white;
  }
  
  .form-container .btn input[type=submit]:hover {
    cursor: pointer;
    background-color: #3D9E69;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  
  @media only screen and (max-width: 800px) {
    .form-container {
      font-size: 1.2rem;
      padding: 1.5rem 1.5rem 3rem 1.5rem;
      max-width: 100%;
    }
    .form-container input[type=text],
    .form-container textarea {
      font-size: 1.2rem;
      padding: 1rem;
      margin-bottom: 1.5rem;
      color: black;
    }
    .form-container .btn input[type=submit] {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 1.2rem;
      border-radius: 10px;
    }
  }
  
  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15rem;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #486507;
  }
  
  .footer-logo {
    padding-left: 5rem;
    height: 5rem;
    margin: 10px;
    background-color: #486507;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer-logo p {
    color: white;
    font-size: 1.25rem;
  }
  
  .footer-logo a {
    background-color: #486507;
  }
  
  .footer-logo img {
    width: auto;
    height: 5rem;
    background-color: #486507;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  .footer-logo img:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  .footer-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.5rem;
    background-color: #486507;
  }
  
  .footer-link-container div {
    background-color: #486507;
  }
  
  .footer-link-container div a {
    background-color: #486507;
  }
  
  .footer-link {
    height: 2rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #486507;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    color: white;
  }
  
  .footer-link:hover {
    color: #3D9E69;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  @media only screen and (max-width: 900px) {
    .footer {
      padding-bottom: 1rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
    }
    .footer-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 0;
      margin: 1rem auto;
    }
    .footer-logo p {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
    .footer-logo img {
      height: 4rem;
    }
    .footer-link-container {
      padding-right: 0;
    }
  }
  
  .team-container {
    max-width: 100%;
    padding: 0 5.5rem;
    font-size: 2rem;
  }
  
  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .cards-container:first-child {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F4FBF3;
    height: 20rem;
    min-width: 16rem;
    max-width: 16rem;
    margin: 3rem 5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    border-radius: 15px;
    text-align: center;
  }
  
  .card img {
    height: 10rem;
    width: 10rem;
    margin-top: 1.5rem;
    border-radius: 50%;
    border: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .card h2 {
    font-size: 1.5rem;
    background-color: #F4FBF3;
    color: black;
    padding: 0 1rem;
  }
  
  .card p {
    font-size: 1rem;
    background-color: #F4FBF3;
    color: black;
    padding: 0 1rem;
  }
  
  .slider {
    position: relative;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem auto;
    padding: 2rem 0;
  }
  
  .slide {
    opacity: 0;
    -webkit-transition-duration: 1s ease;
            transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  
  .slide.inactive {
    pointer-events: none;
  }
  
  .gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, #60801F), to(#60801F));
    background: linear-gradient(transparent, #60801F 80%, #60801F 100%);
    border-radius: 30px/50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .gradient img {
    width: 60rem;
    height: 40rem;
    border-radius: 30px/50px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    display: block;
    z-index: -1;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 5;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .right-arrow:hover {
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 5;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .left-arrow:hover {
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .image-description {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: 100%;
    bottom: 10%;
    padding: 0 4%;
    color: white;
    z-index: 5;
    background-color: transparent;
  }
  
  .image-description p {
    font-size: 1.5rem;
    background-color: transparent;
  }
  
  .image-description a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: #336699;
    color: white;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  .image-description a:hover {
    background-color: #3D9E69;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  @media only screen and (max-width: 1060px) {
    .slider {
      margin: 2.5rem auto;
    }
    .gradient {
      border-radius: 40px/40px;
    }
    .gradient img {
      border-radius: 40px/40px;
      width: 40rem;
      height: 30rem;
    }
    .image-description {
      bottom: 9%;
      padding: 0 9%;
    }
    .image-description p {
      font-size: 1rem;
    }
    .image-description a {
      height: 40px;
      font-size: 1rem;
      padding: 0.7rem 0.7rem;
      border-radius: 7px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .slider {
      margin: 1.5rem auto;
    }
    .gradient img {
      width: 30rem;
      height: 25rem;
    }
    .right-arrow {
      right: 25px;
      font-size: 1.5rem;
    }
    .left-arrow {
      left: 25px;
      font-size: 1.5rem;
    }
    .image-description {
      bottom: 9%;
      padding: 0 9%;
    }
    .image-description p {
      font-size: 0.8rem;
    }
    .image-description a {
      height: 30px;
      font-size: 0.8rem;
      padding: 0.7rem 0.7rem;
      border-radius: 7px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .gradient img {
      width: 20rem;
      height: 15rem;
    }
  }

